@import'vars';

h1{
    font-size: $largeFont;
}

li{
    font-size: $mideumFont;
}

p{
    font-size: $smallFont;
    color:$paragrafColor;
}

header{
    ul{
        li{
            &:nth-child(2){
                background-color:$paragrafColor;
            }
        }
    }
}